body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    padding: 10px 70px;
    justify-content: space-between;
}
header li { 
    list-style: none;
}
.Texto .titulo {
    text-align: center;
    font-size: 30px;
}